[Unit]
Description=netwallet main service
After=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/root/NetWallet/services/main
ExecStart=/root/NetWallet/services/main/run.sh start

[Install]
WantedBy=multi-user.target